[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git@github.com:loadsys/migrations.git
[submodule "bin"]
	path = bin
	url = https://github.com/loadsys/CakePHP-Shell-Scripts.git
