<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./tests/bootstrap.php"
	>
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
	</php>

	<!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="app">
			<directory>./tests/TestCase</directory>
		</testsuite>
		<testsuite name="unit">
			<directory>./tests/TestCase</directory>
			<exclude>./tests/TestCase/Controller</exclude>
		</testsuite>
		<testsuite name="integration">
			<directory>./tests/TestCase/Controller</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
	</testsuites>

	<!-- Setup a listener for fixtures -->
	<listeners>
		<listener
		class="\Cake\TestSuite\Fixture\FixtureInjector"
		file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
			<arguments>
				<object class="\Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
	</listeners>

	<filter>
		<!--
		<blacklist>
			<directory suffix=".php">/path/to/files</directory>
			<file>/path/to/file</file>
			<exclude>
				<directory suffix=".php">/path/to/files</directory>
				<file>/path/to/file</file>
			</exclude>
		</blacklist>
		-->
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./plugins</directory>
			<!--
			<file>/path/to/file</file>
			<exclude>
				<directory suffix=".php">/path/to/files</directory>
				<file>/path/to/file</file>
			</exclude>
			-->
		</whitelist>
	</filter>

	<logging>
		<!-- HTML reports intended to be exported to loadsysdev for viewing. -->
		<log
			type="coverage-html"
			target="./tmp/coverage/html/"
			charset="UTF-8"
			highlight="true"
			lowUpperBound="60"
			highLowerBound="90"
		/>
		<!-- Used to provide coverage percentage to `coverage-ensure` from the CakePHP-Shell-Scripts repo. -->
		<log
			type="coverage-clover"
			target="./tmp/coverage/clover.xml"
		/>
	</logging>
</phpunit>
