<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	bootstrap="./tests/bootstrap.php"
	>
	<php>
		<ini name="memory_limit" value="-1"/>
		<ini name="apc.enable_cli" value="1"/>
	</php>

	<!-- Add any additional test suites you want to run here -->
	<testsuites>
		<testsuite name="App Test Suite">
			<directory>./tests/TestCase</directory>
		</testsuite>
		<!-- Add plugin test suites here. -->
	</testsuites>

	<!-- Setup a listener for fixtures -->
	<listeners>
		<listener
		class="\Cake\TestSuite\Fixture\FixtureInjector"
		file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
			<arguments>
				<object class="\Cake\TestSuite\Fixture\FixtureManager" />
			</arguments>
		</listener>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
	</listeners>

	<logging>
		<!-- HTML reports intended to be exported to loadsysdev for viewing. -->
		<log
			type="coverage-html"
			target="../tmp/coverage/html/"
			charset="UTF-8"
			highlight="true"
			lowUpperBound="60"
			highLowerBound="90"
		/>
		<!-- Not currently used, but include the config anyway so it's here already. -->
		<!-- 
		<log
			type="coverage-clover"
			target="../tmp/coverage/clover.xml"
		/>
		-->
	</logging>
</phpunit>
