div#container {
	margin-top: 5px;
}

div.contain-to-grid {
	background: transparent;
}

div#content table {
	width: 100%;
}

.unavailable {
	color: #999999;
	cursor: not-allowed;
}

footer div.row {
	background-color: #dddddd;
}

footer ul.inline-list {
	margin-bottom: 0;
}

footer,
footer ul.inline-list li {
	font-size: 0.75em;
}

.top-bar-section li.text {
	background: #8d1c1c;
	color: #eee;
    font-size: 0.8125rem;
    font-weight: normal;
    padding: 12px 0.9375rem 12px 0.9375rem;
    text-transform: none;
}
