/**
 * Used only by the stock Cake homepage.
 *
 * @TODO: Once homepage has been customized, it's safe to remove this file.
 */

.home header {
  width: 100%;
  height: 85%;
  position: relative;
  display: table;
}

.home h1 {
  font-family: "Gill Sans MT", Calibri, sans-serif;
}

.home header .header-image {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.home header h1 {
  color: #fff;
}

.home .checks {
  padding:30px;
  color: #626262;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.24);
  margin-top:50px;
}

.checks.platform {
  background-color: #B7E3EC;
}

.checks.filesystem {
  background: #DCE47E;
}

.checks.database {
  background-color: #DFF0D8;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.home .checks .success:before, .home .checks .problem:before {
  line-height: 0px;
  font-size: 28px;
  height: 12px;
  width: 12px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  left: -11px;
}

.home .checks .success:before {
  content: "✓";
  color: green;
  margin-right: 9px;
}

.home .checks .problem:before {
  content: "✘";
  color: red;
  margin-right: 9px;
}
