/**
 * Main application styles should be defined here.
 */

@import "../cake.css"; // @TODO: Remove this when no longer required.

//@import 'settings';
@import 'foundation';
@include foundation-everything;
//@import 'variables';
//@import 'tables';
//@import 'forms';
//@import 'footer';


div#container {
	margin-top: 0.3125rem;
}

div.contain-to-grid {
	background: transparent;
}

div#content table {
	width: 100%;
}

.unavailable {
	color: #999999;
	cursor: not-allowed;
}

footer div.row {
	background-color: #dddddd;
}

footer ul.inline-list {
	margin-bottom: 0;
}

footer,
footer ul.inline-list li {
	font-size: 0.75em;
}

.top-bar-section li.text {
	background: #8d1c1c;
	color: #eee;
    font-size: 0.8125rem;
    font-weight: normal;
    padding: 12px 0.9375rem 12px 0.9375rem;
    text-transform: none;
}
