# README

## Don't change this line, we scan for it in tests.

This is a templated Markdown file with a few {{TOKEN:overlaps with token from subdir/config.yaml.template}} in it.

* {{NO_DEFAULT}}
* {{SECOND_ITEM:The second thing in the list.}}

Other uses of the `{{` and `}}` characters should be correctly ignored.

When the tokens in this file are replaced, it should overwrite the existing README.md file.

